* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Prompt', Arial, sans-serif;
    color: #333;
}

/* navbar */
.navbar {
    padding: 10px 20px;
}

.navbar-container,
.navbar-left,
.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    width: 300px;
}

.navbar-menu a {
    margin: 0 10px;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #007bff;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #BDBDBD;
    ;
    border-radius: 10px;
    padding: 10px 10px;
}

.navbar-search i {
    margin-right: 5px;
    color: #333;
}

.navbar-search input {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #333;
}

.navbar-search input::placeholder {
    font-family: 'Prompt', Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-user i {
    margin-left: 15px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.fa-bars {
    font-size: 25px;
}

.fa-user {
    font-size: 15px;
    background-color: #BDBDBD;
    border-radius: 100%;
    padding: 10px;

}

.navbar-user i:hover {
    color: #007bff;
}

/* content */

.content {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
    height: 100vh;
}

/* sidebar */

.sidebar {
    width: 300px;
    height: 80%;
    padding: 10px;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.sidebar-title {
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.filter-select {
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #BDBDBD;
    color: #333;
    outline: none;
    cursor: pointer;
}

.filter-select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* data section */

.data-section {
    width: 90%;
    padding: 10px 10px 10px 0;
}

.list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-list {
    padding: 10px 0;
}

.data-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #BDBDBD;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.data-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.data-card-left {
    display: flex;
    align-items: center;
    gap: 10px;
}